{% extends "../base.html" %}
{% load i18n %}
{% load humanize %}

{% block title %}{{ app.name }}{% endblock %}
{% block toolbar-title %}<a href="{% url 'repo' app.repo.id %}">{{ app.repo.name }}</a>{% endblock %}

{% block rm-content %}

<div class="mdl-grid">

	<div class="mdl-cell mdl-cell--12-col">

		<h2 style="vertical-align: middle;">
			<img src="{{ app.icon.url }}" alt="Repo Icon" class="rm-icon"/> {{ app.name }}
		</h2>

		{% if app.summary %}
		<p>{{ app.summary }}</p>
		{% endif %}

		<ul class="mdl-list">
			<li class="mdl-list__item mdl-list__item--two-line">
				<span class="mdl-list__item-primary-content">
					<i class="material-icons mdl-list__item-icon">info_outline</i>
					<span>{% trans 'Package ID' %}</span>
					<span class="mdl-list__item-sub-title">
						{{ app.package_id }}
					</span>
				</span>
			</li>
			<li class="mdl-list__item mdl-list__item--two-line">
				<span class="mdl-list__item-primary-content">
					<i class="material-icons mdl-list__item-icon">style</i>
					<span>{% trans 'Categories' %}</span>
					<span class="mdl-list__item-sub-title">
						{% if app.category.exists %}
						{{ app.category.all|join:", " }}
						{% else %}
						None
						{% endif %}
					</span>
				</span>
			</li>
			{% if app.website %}
			<li class="mdl-list__item mdl-list__item--two-line">
				<span class="mdl-list__item-primary-content">
					<i class="material-icons mdl-list__item-icon">insert_link</i>
					<span>{% trans 'Website' %}</span>
					<span class="mdl-list__item-sub-title">
						{{ app.website|urlize }}
					</span>
				</span>
			</li>
			{% endif %}
			{% if app.description %}
			<li class="mdl-list__item mdl-list__item--three-line">
				<span class="mdl-list__item-primary-content">
					<i class="material-icons mdl-list__item-icon">description</i>
					<span>{% trans 'Description' %}</span>
					<span class="mdl-list__item-text-body">
						{{ app.description|safe }}
					</span>
				</span>
			</li>
			{% endif %}
			<li class="mdl-list__item mdl-list__item--two-line">
				<span class="mdl-list__item-primary-content">
					<i class="material-icons mdl-list__item-icon">translate</i>
					<span>{% trans 'Translations' %}</span>
					<span class="mdl-list__item-sub-title">
						{% for lang in app.get_available_languages %}
							{{ lang|language_name }}{% if not forloop.last %}, {% endif %}
							{% empty %}
							<i>{% trans 'None' %}</i>
						{% endfor %}
					</span>
				</span>
				<span class="mdl-list__item-secondary-content">
					<a class="mdl-list__item-secondary-action" href="{% url 'app_translate' app.repo.id app.id %}">
						<i class="material-icons">edit</i>
					</a>
				</span>
			</li>
			{% if apks %}
			<li class="mdl-list__item mdl-list__item--two-line">
				<span class="mdl-list__item-primary-content">
					<i class="material-icons mdl-list__item-icon">gesture</i>
					<span>{% trans 'Signature' %}</span>
					<span class="mdl-list__item-sub-title">
						{{ apks.0.apk.signature }}
					</span>
				</span>
			</li>
			{% endif %}
			<li class="mdl-list__item mdl-list__item--two-line">
				<span class="mdl-list__item-primary-content">
					<i class="material-icons mdl-list__item-icon">watch_later</i>
					<span>{% trans 'Added' %}</span>
					<span class="mdl-list__item-sub-title">
						{{ app.added_date|date:"SHORT_DATE_FORMAT" }}
					</span>
				</span>
			</li>
			<li class="mdl-list__item mdl-list__item--two-line">
				<span class="mdl-list__item-primary-content">
					<i class="material-icons mdl-list__item-icon">update</i>
					<span>{% trans 'Last Updated' %}</span>
					<span class="mdl-list__item-sub-title">
						{{ app.last_updated_date|naturaltime }} ({{ app.last_updated_date|date:"SHORT_DATE_FORMAT" }})
					</span>
				</span>
			</li>
		</ul>

		<p>
			<a href="{% url 'edit_app' app.repo.id app.id %}" class="rm-no-underline" style="margin-right:1em;">
				<button class="mdl-button mdl-js-button mdl-button--raised">
					<i class="material-icons">edit</i>
					{% trans 'Edit App Details' %}
				</button>
			</a>
			<a href="{% url 'screenshot_add' app.repo.id app.id %}" class="rm-no-underline" style="margin-right:1em;">
				<button class="mdl-button mdl-js-button mdl-button--raised">
					<i class="material-icons">add</i>
					{% trans 'Add Screenshot' %}
				</button>
			</a>
			<a href="{% url 'delete_app' app.repo.id app.id %}" class="rm-no-underline">
				<button class="mdl-button mdl-js-button mdl-button--raised">
					<i class="material-icons">delete</i>
					{% trans 'Delete App' %}
				</button>
			</a>
		</p>

	</div>

	<div class="mdl-cell mdl-cell--6-col">

		<h2>{% trans 'Versions' %}</h2>

		{% if apks %}
		<ul class="mdl-list">
			{% for pointer in apks %}
			<li>
				<h4>
					{{ pointer.apk.version_name }} <span style="font-weight: normal; font-size: 75%;">({{ pointer.apk.version_code }})</span>
				</h4>
				{% if pointer.file %}
				<ul class="mdl-list">
					<li class="mdl-list__item mdl-list__item--two-line">
						<span class="mdl-list__item-primary-content">
							<span>{% trans 'Size' %}</span>
							<span class="mdl-list__item-sub-title">
								{{ pointer.apk.size|filesizeformat }}
							</span>
						</span>
					</li>
					<li class="mdl-list__item mdl-list__item--two-line">
						<span class="mdl-list__item-primary-content">
							<span>{% trans 'File' %}</span>
							<span class="mdl-list__item-sub-title">
								{{ pointer.file.name }}
							</span>
						</span>
					</li>
					<li class="mdl-list__item mdl-list__item--two-line">
						<span class="mdl-list__item-primary-content">
							<span>
								{% blocktrans with type=pointer.apk.hash_type trimmed %}
								Hash ({{ type }})
								{% endblocktrans %}
							</span>
							<span class="mdl-list__item-sub-title">
								{{ pointer.apk.hash }}
							</span>
						</span>
					</li>
				</ul>
				{% else %}
				<em>{% trans 'APK is still downloading...' %}</em>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
		{% endif %}

		<div style="text-align: right; margin: 2em;">
			<a href="{% url 'add_app' app.repo.id %}" class="mdl-cell mdl-cell--12-col rm-no-underline">
				<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
					<i class="material-icons">add</i>
				</button>
			</a>
		</div>

	</div>

	<div class="mdl-cell mdl-cell--12-col"
		 style="display: block; white-space: nowrap; overflow: auto; margin-right: 10px; margin-bottom: 10px; padding: 10px">
		{% for screenshot in app.screenshot_set.all %}
		<img src="{{ screenshot.get_url }}" style="display: inline-block; margin: 10px 0px 10px 10px; max-height:500px"/>
		<a href="{% url 'screenshot_delete' app.repo.id app.id screenshot.id %}" class="rm-no-underline"
		   style="position: relative; left: -25px;">
			<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
				<i class="material-icons">delete</i>
			</button>
		</a>
		{% endfor %}
	</div>

</div>

{% endblock rm-content %}
