{% extends "../base.html" %}
{% load i18n %}

{% block title %}{% trans "Remote Storage Updated" %}{% endblock %}

{% block toolbar-title %}<a href="{% url 'repo' object.repo.id %}">{{ object.repo.name }}</a>{% endblock %}

{% block rm-content %}

<h1>{% trans "Remote Storage Updated" %}</h1>

{% if object.public_key %}

{% block help_text %}
<p>
	{% trans "Please make sure to authorize this public SSH key for your remote storage if you have not done so already." %}
</p>
{% endblock help_text %}

<pre style="overflow: auto; padding: 1em; background-color: #fafafa; border: 1px solid #e5e5e5;">{{ object.public_key }}</pre>
{% else %}
<p>
	{% trans "Your local default SSH key will be used to connect to the storage." %}
</p>
<p>
	{% trans "If this storage is experiencing problems, please check that the key works properly." %}
</p>
{% endif %}

{% endblock rm-content %}
