<!DOCTYPE html>
{% load static %}
{% load sass_tags %}
{% load i18n %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Repo Maker - {% block title %}{% endblock %}</title>
	<link href="{% sass_src 'maker/css/style.scss' %}" rel="stylesheet" type="text/css" media="all">
	{% block head %}{% endblock %}
</head>

<body>
<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-layout--fixed-header mdl-layout--no-desktop-drawer-button">
	<header class="mdl-layout__header">
		<div class="mdl-layout-icon"></div>
		<div class="mdl-layout__header-row">
			<!-- Title -->
			<span class="mdl-layout-title">
				{% block toolbar-title %}<a href="/">Repo Maker</a>{% endblock %}
			</span>
			<!-- Add spacer, to align navigation to the right -->
			<div class="mdl-layout-spacer"></div>
			<!-- Navigation. We hide it in small screens. -->
			<nav class="mdl-navigation mdl-layout--large-screen-only">
				{% if user.is_authenticated and user.username != 'user' %}
					{% load account %}
					{% user_display user %}
					[ <a class="mdl-navigation__link" href="{% url 'account_logout' %}">{% trans 'logout' %}</a> ]
				{% endif %}
			</nav>
		</div>
	</header>
	<div class="mdl-layout__drawer">
		<span class="mdl-layout-title">Repomaker</span>
		<nav class="mdl-navigation">
			{% if user.is_authenticated and user.username != 'user' %}
				{% load account %}
				{% user_display user %}
				[ <a class="mdl-navigation__link" href="{% url 'account_logout' %}">{% trans 'logout' %}</a> ]
			{% endif %}
		</nav>
	</div>
	<main class="mdl-layout__content">
		{% if site_notice %}
		<div style="padding: 1em; background-color: yellow; text-align: center;">
			{% autoescape off %}{{ site_notice }}{% endautoescape %}
		</div>
		{% endif %}
		<div class="rm-content">{% block rm-content %}{% endblock %}</div>
	</main>
</div>
<script src="{% static 'node_modules/material-design-lite/material.min.js' %}"></script>
</body>
</html>
