{% extends "./base.html" %}
{% load i18n %}
{% load humanize %}

{% block title %}{% trans 'Repository List' %}{% endblock %}

{% block rm-content %}

{% if repositories %}

<div class="mdl-grid">
	{% for repo in repositories %}
	<a
			class="mdl-card mdl-shadow--2dp mdl-color--white mdl-js-ripple-effect rm-no-underline"
			style="margin: 10px;"
			href="{% url 'repo' repo.id %}"
			title="{{ repo.name }}">
		<div
				class="mdl-card__title mdl-card--expand"
				style="background: url({{ repo.icon.url }}) top 12% right 12% no-repeat #fff;">
			<h5 class="mdl-card__title-text">
				{{ repo.name }}
			</h5>
		</div>

		<div class="mdl-card__supporting-text mdl-color-text--grey-600">
			{{ repo.description|safe|truncatewords:25 }}
		</div>
	</a>
	{% endfor %}
</div>
{% else %}
<p>{% trans "No repositories are available." %}</p>
{% endif %}

<div class="mdl-grid">
	<a href="{% url 'add_repo' %}" class="mdl-cell mdl-cell--12-col rm-no-underline" style="text-align: right;">
		<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
			<i class="material-icons">add</i>
		</button>
	</a>
</div>

{% endblock rm-content %}
