$image_path: unquote(get-setting(NODE_MODULES_URL) + 'material-design-lite/src/images');

@import "material-design-lite/src/button/button";
@import "material-design-lite/src/grid/grid";
@import "material-design-lite/src/list/list";
@import "material-design-lite/src/checkbox/checkbox";

.rm-form {

	input[type="submit"] {
		@extend .mdl-button, .mdl-button--raised, .mdl-button--primary;
	}

	input[type="file"] {
		display: none;
	}

	select {
	    // TODO: There is no "mdc-multi-select"
	    @extend .mdl-list;

		option {
			@extend .mdl-list__item;
		}
	}

	label.rm-file-upload {
		@extend .mdl-button, .mdl-button--accent;
	}

}
