$material-design-icons-font-path: unquote(get-setting(NODE_MODULES_URL) + 'material-design-icons-iconfont/dist/fonts/');
@import "material-design-icons-iconfont/dist/material-design-icons.scss";

$roboto-font-path: unquote(get-setting(NODE_MODULES_URL) + "roboto-fontface/fonts");
@import "roboto-fontface/css/roboto/sass/roboto-fontface";

@import "material-design-lite/src/animation/animation";
@import "material-design-lite/src/button/button";
@import "material-design-lite/src/card/card";
@import "material-design-lite/src/checkbox/checkbox";
@import "material-design-lite/src/grid/grid";
@import "material-design-lite/src/icon-toggle/icon-toggle";
@import "material-design-lite/src/layout/layout";
@import "material-design-lite/src/list/list";
@import "material-design-lite/src/mixins";
@import "material-design-lite/src/resets/resets";
@import "material-design-lite/src/ripple/ripple";
@import "material-design-lite/src/shadow/shadow";
@import "material-design-lite/src/textfield/textfield";
@import "material-design-lite/src/typography/typography";
@import "material-design-lite/src/variables";

.rm-content {
	margin: 16px;
}

a.rm-no-underline {
	text-decoration: none;
	color: unset;
}

.mdl-layout-title a, a.material-icons, .mdl-list__item a {
	text-decoration: none;
	color: unset;
}

.rm-icon {
	width: 96px;
	height: 96px;
}
